{% extends 'layout.html' %}
{% block head %}
<title>Carreras</title>
<style>
    #tabla{
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">
                <h2>Administrar Carreras
                    <a class="btn btn-outline-dark float-right" href="{{url_for('crearCarrera')}}">Crear Carrera</a>
                </h2>
            </div>
        </div>
    </div>
    <div id="tabla">
        <table class="table table-hover table-dark">
            <tr>
                <th>Identificación</th>
                <th>Nombre de la Carrera</th>
                <th>Extensión</th>
                <th></th>
            </tr>
            {% for carrera in carreras %}
            <tr>
                <td>{{ carrera.0 }}</td>
                <td>{{ carrera.1 }}</td>
                <td>{{ carrera.2 }}</td>
                <td><h2>
                    <a class="btn btn-outline-warning" href="{{ url_for('verCarrera', id_carrera = carrera.0) }}">Ver Carrera</a></h2></td>
                <br>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}